.search-wrapper {
    width:130px;
    position: relative;
}
.search-material {
    width:130px;
    border:1px solid #aaa;
    height:30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #fff;
    margin: 0;
}
.search-icon {
    position: absolute;
    right:8px;
    top:9px;
    color:#aaa;
    font-size: 16px;
}
.search-pop {
    width:130px;
    position:absolute;
    border:1px solid #aaa;
    display:none;
    list-style: none;
    padding: 0;
    background-color: #fff;
    z-index: 100;
    height:150px;
}
.search-wrapper ul li {
    line-height:30px;
    padding-left:10px;
}
.search-wrapper ul li:hover {
    background:#aaa;color:#fff;
}
.search-body {
    padding:8px 15px;
    margin-left:15px;
    border-left: 1px solid #aaa;
    height:60px;
}
.content-search button {
    left: 235px;
    top: 2px;
}